.HeaderSection {
  color: white;
}

.HeaderSection .mask {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.698864) 0%,
    rgba(0, 0, 0, 0.0001) 100%
  );
}

.HeaderSection .mask .maskContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HeaderSection .mask .navigation {
  display: flex;
}

.HeaderSection .mask .navigation .navbar a {
  font-style: normal;
  font-weight: 300;
  color: white;
  text-decoration: none;
}

@media all and (min-width: 1440px) {
  .HeaderSection .mask {
    height: 180px;
  }

  .HeaderSection .mask .logo {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.68rem;
    margin-top: 52px;
    margin-bottom: 85px;
  }

  .HeaderSection .mask .navigation {
    margin-top: 52px;
    margin-bottom: 85px;
  }

  .HeaderSection .mask .navigation .navbar a {
    font-size: 1.125rem;
    line-height: 2.68rem;
    margin-right: 18px;
  }

  .HeaderSection .mask .navigation .navbar .hamburguerMenu {
    display: none;
  }

  .HeaderSection .mask .navigation .search {
    position: relative;
    width: 36px;
    height: 36px;
    margin-left: 18px;
  }
}

@media all and (min-width: 768px) and (max-width: 1439px) {
  .HeaderSection .mask {
    height: 140px;
  }

  .HeaderSection .mask .logo {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-top: 35px;
    margin-bottom: 76px;
  }

  .HeaderSection .mask .navigation {
    margin-top: 35px;
    margin-bottom: 76px;
  }

  .HeaderSection .mask .navigation .navbar a {
    display: none
  }

  .HeaderSection .mask .navigation .navbar .hamburguerMenu {
    position: relative;
    width: 25px;
    height: 25px;
  }

  .HeaderSection .mask .navigation .search {
    display: none;
  }
}

@media all and (min-width: 375px) and (max-width: 768px) {
  .HeaderSection .mask {
    height: 120px;
  }

  .HeaderSection .mask .logo {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-top: 30px;
    margin-bottom: 61px;
  }

  .HeaderSection .mask .navigation {
    margin-top: 30px;
    margin-bottom: 61px;
    margin-right: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .HeaderSection .mask .navigation .navbar a {
    display: none
  }

  .HeaderSection .mask .navigation .navbar .hamburguerMenu {
    position: relative;
    width: 28px;
    height: 28px;
  }

  .HeaderSection .mask .navigation .search {
    display: none;
  }
}
