@media all and (min-width: 1440px) {
  .HeroSection {
    position: relative;
    width: 1440px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    background: url('../../public/hero-image.svg') no-repeat center top;
  }
}


@media all and (min-width: 768px) and (max-width: 1439px) {
  .HeroSection {
    position: relative;
    width: 768px;
    height: 460px;
    margin-left: auto;
    margin-right: auto;
    background: url('../../public/hero-image.svg') no-repeat center top;
    background-size: cover;
  }
}

@media all and (min-width: 250px) and (max-width: 768px) {
  .HeroSection {
    position: relative;
    width: 375px;
    height: 418px;
    margin-left: auto;
    margin-right: auto;
    background: url('../../public/hero-image-small.svg') no-repeat center top;
  }
} 
