@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: black;
  font-family: "Lato", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

a, a:visited {
  color: white;
}

button {
  font-family: 'Lato', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media all and (min-width: 1440px) {
  .Home {
    background-color: white;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8rem;
  }

  .container {
    width: 1098px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (min-width: 768px) and (max-width: 1439px) {
  .Home {
    background-color: white;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
  }

  .container {
    width: 723px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (min-width: 375px) and (max-width: 768px) {
  .Home {
    background-color: white;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
  }

  .container {
    width: 351px;
    margin-left: auto;
    margin-right: auto;
  }
}
